.displays {
	text-align: center;
	width: 100%;
}

#log-fieldset {
	text-align: center;
	display: inline-block;
	border: none;
	width: 75%;
}

#log-table {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px dashed black;
	border-right: 1px dashed black;
	border-collapse: separate;
	border-spacing: 10px 0px;
	text-align: center;
	width: 100%;
}

#log-table th {
	border-bottom: 1px solid black;
}

#log-table td:nth-child(odd), #log-table th:nth-child(odd) {
	background: lightgrey;
}

#log-table td:nth-child(even), #log-table td:nth-child(3) {
	text-align: center;
}