.charts {
	display: inline-block;
	text-align: center;
	height: 75%;
	width: 75%;
}

.charts-canvas {
	text-align: center;
}

#data-preview-select form {
	border: 1px dotted black;
	padding: 5px;
	text-align: left;
}

#data-preview-select input[type="submit"] {
	display:inline-block;
	text-align: center;
}